*{
    margin: 0;
}
body{
    background-color: black;
    margin: 0;
    overflow: hidden;
    height: 100vh;
}
.next {
    background-color: green;
    width: 200px;
    height: 70px;
    border-radius: 10px;
}


.back {
    background-color: red;
    width: 200px;
    height: 70px;
    border-radius: 10px;
}

.choices{
    width: 200px;
    height: 70px;
    border-radius: 10px;
}
.text{
    color: white;
    width: 50%;
    margin-bottom: 60px;
}

#story{
    position: relative;
    z-index: 10;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#title{
    color: white;
    font-size: 4rem;
    width: 50%;
}

#intro{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#startButton{
    width: 200px;
    height: 60px;
    border-radius: 10px;
}

#earth{
    position: absolute;
    width: 27%;
    bottom: 0;
    z-index: -1;
}


#fire{
    position: absolute;
    top: 360px;
    left: -20px;
    width: 30%;
    transform: rotate(5deg);
    z-index: -3;
}

#sun{
    position: absolute;
    right: 180px;
    z-index: -2;
}

#moon{
    position: absolute;
    width: 300px;
}

#homeless{
    position: absolute;
    right: -20px;
    bottom: -10px;
    width: 89%;
    transform: rotate(0.5deg);
    z-index: -1;
}

#guy{
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 60px;
    right: 150px;
    bottom: 40px;
        
}

#stars{
    position: absolute;
    width: 70%;
    left: 200px;
    top: 0;
    z-index: -4;
}

@keyframes rotateSun {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotatEarth {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes rotateMoon {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

